*{
	margin: 0;
	padding: 0;
}
.demo1{
	width: 100%;
	height: 30px;
	line-height: 30px;
	background-color: #f7f7f7;
	font-size: 14px;
	color: #666666;
}
select{
	border: none;
	background-color: #f7f7f7;
	color: #666666;
}
.demo2{
	width: 70%;
	height: 900px;
	margin: 0 auto;
}
.demo3{
	float: right;
	margin-right: 15%;
}
span{
	margin-left: 15%;
}
.demo4{
	width: 100%;
	height: 100px;
	line-height: 100px;
	background-color: #fff;
}
.demo4 img{
	width: 250px;
	height: 84px;
	margin-top: 8px;
}
.form1{
	float: right;
}
.form1 input[type="text"]{
	width: 420px;
	height: 30px;
	line-height: 30px;
	font-size: 16px;
}
.form1 button{
	width: 100px;
	height: 30px;
	line-height: 30px;
	background-color: #2F70D0;
	color: #fff;
	border: none;
	font-size: 16px;
	font-weight: 700;
	letter-spacing: 2px;
}
.demo5{
	width: 100%;
	height: 32px;
	line-height: 30px;
	border-bottom: 2px solid #0266A3;
}
.demo5 ul{
	list-style: none;
	background-color: #fff;
}
.demo5 ul li{
	display: inline-block;
	background-color: #fff;
	width: 100px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	
}
.demo5 ul li a{
	display: block;
	width: 100px;
	height: 30px;
	
	text-decoration: none;
	color: #2F70D0;
	font-size: 14px;
}
.demo5 ul a:hover{
	background-color: #0266A3;
	color: #fff;
}
.demo7{
	width: 180px;
	height: 31px;
	line-height: 31px;
	background-color: #0266A3;
	color: #fff;
	font-size: 15px;
	font-weight: 700;
	padding-left: 20px;
}
.demo8 ul{
	list-style: none;
}
.demo8 ul li{
	width: 200px;
	height: 27px;
	line-height: 27px;
	background-color: #EBF0F6;

}
.demo8 ul li img{
	margin-left: 5px;
	margin-top: 5px;
}
.demo8 ul li a{
	text-decoration: none;
	display: inline-block;
	color: #666666;
	font-size: 10px;
	margin-left: 15px;
}
.demo8 ul li a:hover{
	color: red;
	text-decoration: underline;
}
.demo6{
	width: 200px;
	height: 205px;
	margin-top: 10px;
	
	float: left;
}
.demo9{
	
	width: 520px;
	height: 200px;
	float: left;
	margin-top: 10px;
	margin-left: 10px;
}
.demo9 img{
	width: 520px;
	height: 200px;
	
}
.container{
	
	width: 100%;
	height: 220px;
}
.demo10{
	
	width: 220px;
	height: 200px;
	float: right;
	margin-top: 10px;
}
.demo11{
	width: 220px;
	height: 100px;
}
.demo11 img{
	width: 220px;
	height: 100px;
	margin: 5px 0;
}
.demo12{
	width: 100%;
	height: 35px;
	background-color: #EBF0F6;
	border-top: 2px solid #C3D7E4;
}
.demo12 span{
	display: block;
	margin-top: 7px;
	margin-left: 20px;
	font-size: 14px;
	font-weight: 700;
}
.demo13{
	
	height: 400px;
	margin-top: 15px;
}
.demo13 .demo14{
	border: 1px solid #ccc;
	width: 69%;
	height: 398px;
	float: left;
}
.demo13 .demo15{
	border: 1px solid #ccc;
	width: 29%;
	height: 398px;
	float: right;
}
.demo16{
	width: 97%;
	height: 198px;
	
	margin: 0 10px;
	border-bottom: 1px solid #ccc;
}
.demo17{
	width: 97%;
	height: 198px;
	
	margin: 0 10px;
}
.demo18{
	
	width: 49%;
	height: 196px;
	float: left;
}
.demo19{
	
	width: 49%;
	height: 196px;
	float: right;
}
.demo20{
	
	width: 38%;
	height: 194px;
	float: left;
}
.demo21{
	
	width: 58%;
	height: 174px;
	float: right;
	font-size: 13px;
	padding-top: 20px;
	padding-left: 10px;
}
.demo21 span{
	color: brown;
}
.demo22{
	width: 80%;
	height: 100px;
	border: 1px solid #ccc;
	margin: 13px;
}
.demo22 img{
	margin: 10px 10px;
	width: 84%;
	height: 80px;
}
.demo22 button{
	margin-top: 20px;
	width: 107px;
	height: 30px;
	line-height: 30px;
	background-color: #0A84E3;
	color: #fff;
	font-size: 15px;
	font-weight: 700;
	border: none;
}
.demo23{
	background-color: #FBFBFB;
	width: 96.5%;
	height: 30px;
	font-size: 14px;
	padding-top: 5px;
	padding-left: 10px;
	border-bottom: 1px solid #ccc;
}
.demo24{
	padding-left: 30px;
}
.demo24 ul{
	list-style: square;
}
.demo24 ul li{
	margin: 8px;
	color: #666666;
	font-size: 15px;
}
.demo24 ul li a{
	text-decoration: none;
	color: #666666;
	font-size: 15px;
}
.demo24 ul li a:hover{
	text-decoration: underline;
	color: red;
}
.demo25{
	margin-top: 20px;
	width: 100%;
	height: 35px;
	background-color: #EBF0F6;
	border-top: 2px solid #C3D7E4;
}
.demo25 span{
	display: block;
	margin-top: 7px;
	margin-left: 20px;
	font-size: 14px;
	font-weight: 700;
}
.demo26{
	width: 73%;
	border-bottom: 2px solid #00B0E7;
	height: 25px;
	margin-top: 20px;
}
.demo26 a{
	text-decoration: none;
	color: #1A66B3;
}
.demo27{
	width: 100%;
	height: 350px;
	display: inline-block;
}
.demo28{
	float: left;
}
.demo29{
	float: right;
}
.demo30{
	width: 73%;
	height: 348px;
	border: 1px solid #ccc;
	float: left;
}
.demo31{
	width: 25%;
	height: 348px;
	
	float: right;
}
.demo32{
	width: 24%;
	height: 346px;
	
	float: left;
	margin-left: 5px;
	margin-top: 5px;
}
.demo33 img{
	width: 100%;
}
.demo34{
	text-align: center;
	margin-top: 10px;
}
.demo34 a{
	text-decoration: none;
	color: black;
	font-size: 13px;
}
.demo34 a:hover{
	text-decoration: underline;
	color: red;
}
.demo34 p{
	font-size: 13px;
	color: #666666;
}
.demo34 del,span{
	color: brown;
}
.demo35{
	border: 1px solid #ccc;
	margin-bottom: 10px;
}
.demo35 img{
	width: 100%;
}
.demo37{
	width: 93%;
	height: 120px;
	margin: 10px 7px;
}
.demo37 img{
	width: 52%;
	height: 100%;
}
.demo38{
	width: 40%;
	height: 100%;
	float: right;
	font-size: 14px;
	color: #666666;
	margin-right: 12px;
}
.demo39{
	width: 100%;
	height: 70px;
	border-bottom: 2px solid #0A7EC3;
}
.demo39 ul{
	list-style: none;
}
.demo39 ul li{
	display: block;
	float: left;
	font-size: 13px;
}
.demo39 ul li a{
	text-decoration: none;
	color: #666666;
}